/* コメントビュー全体 */
.comment-view {
  color: black;
}

/* コメントビューテーブル */
.comment-view-table {
  color: black;
}

/* コメントビューヘッダー 要素 */
.comment-view-header-item {
  white-space: nowrap;
}

/* 各列 */
.comment-view-row {
  display: flex;
  word-break: break-all;
  align-items: center;
  border-top: 1px dashed red;
}
.comment-view-row > div {
  padding: 2px;
}

/* 各列のアイテム */
.comment-view-row-no {
  text-align: right;
  justify-content: flex-end;
}
.comment-view-row-icon {
  padding: 0;
}
.comment-view-row-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.comment-view-row-time {
  text-align: center;
}
.comment-view-row-comment {
  flex-grow: 1;
  height: auto;
}

/* アイコン画像 */
.comment-view-row-icon > img {
  width: 100%;
  height: auto;
}
