
body {
  margin: 0px;
}

.menu {
  height: 30px;
}

.container {
  position: fixed;
  inset: 0;
}

/* コメントビューア カラム */
.column_no {
  text-align: right;
  justify-content: flex-end;
}
.column_icon {
  padding: 0;
}
.column_icon > img {
  width:100%;
  height:auto;
}
.column_time {
  text-align: center;
}
.column_kotehan > div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*スクロールバー全体*/
::-webkit-scrollbar {
  width: 10px;
}

/*スクロールバーの軌道*/
::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
}

/*スクロールバーの動く部分*/
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 50, .5);
  border-radius: 10px;
  box-shadow:0 0 0 1px rgba(255, 255, 255, .3);
}
